site_name: ''
site_url: https://docs.pixelvirt.com
theme:
  logo: images/logo.png
  favicon: images/favicon.ico
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - announce.dismiss
    - header.autohide
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.prune
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

  copyright: Copyright &copy; 2024 Pixelvirt Technology Pvt Ltd

extra_css:
  - stylesheets/extra.css

nav:
  - Welcome: index.md
  - Pixelview:
      - "Install on Docker": pixelview/install-on-docker.md
      - "Install on Kubetnetes": pixelview/kube-installation.md
      - Dashboard:
          - "Overview": pixelview/dashboard.md
          - Dashboard Integrations:

              - "Kubernetes Integration": pixelview/k8s-integration.md
              - "Prometheus Integration": pixelview/prometheus-integration.md
              - "Openstack Integration": pixelview/openstack-integration.md
          - Zabbix Metrics with PixelView:
              - "Setup on Docker": pixelview/zabbix-pixelview.md
              - "Setup On Kubernetes": pixelview/zabbix-k8s.md
            
          - Customize:
              - "Customize Your Dashboard": pixelview/custom-dashboard.md

      - Monitoring:
          - "Cases": pixelview/cases.md
          - "Incident Case Documentation": pixelview/incident_documentation.md
          - "Services": pixelview/services.md
          - "Esclation": pixelview/esclation.md
          - "Schedules": pixelview/schedules.md
          - "ADD Schedule ": pixelview/on-call.md

      - Automation:
          - "Overview": "pixelview/automation-overview.md"
          - "Automation Bots": pixelview/bots.md
          - "Automation Rules": "pixelview/automations-rules.md"
          - "Automation Workflows": ""

      - Inventory:
          - "Cloud Inventory": ""

      - Management and Settings:
          - Management: "pixelview/managements.md"
          - Settings: "pixelview/settings.md"
          - Login: pixelview/login.md
          - SSO Integration: ""

  - Pixelview API:
      - "API Examples": pixelview/api.md
      - "Python Example": pixelview/create-alerts.md
      - "Custom Bot Example": pixelview/custom-bot.md

  - Blogs:
      - Blog: 
          - https://blog.pixelvirt.com
#  - openstack:
#    - 'Initial setup': openstack/quick-guide.md
#    - 'Launching an Instance ': openstack/lunch-instance.md
#    - 'key pair': openstack/key-pair.md
#    - 'Accessing an OpenStack instance': openstack/instance-access.md
#    - 'Image Creation': openstack/image-creation.md
#    - 'Openstack Networks': openstack/network-creation.md
#    - ' quota and organization request': openstack/quota-org-request.md
#    - 'Organization Registration': openstack/org-registration.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

plugins:
  - blog:
      post_slugify_separator: _
      categories_name: Categories
      categories_url_format: "category/{slug}"
      # authors_profiles_pagination: false
      # authors_profiles: true
      categories: true
      categories_toc: true
